.container-fluid {

    font-size: 30px;

}

.navbar-brand {

    width: 250px;
    height: 160px;

}

.navbar-nav {

    margin:auto;

}

.nav-item {

    padding: 0 15px 0 15px;

    a {

        color:rgb(168, 166, 166);
    
    }

}



