.n_sect {

    display:flex;
    align-items: center;
    text-align: justify;
    font-size: 20px;

    h2 {

        font-size: 30px;

    }
}

.n_sect_div {

    margin-left: 20px;
    margin-right: 20PX;

}

.n_sect_img {

    width: 300px;
    height: 280px;

}