/* globales */

* {

    margin: 0;
    padding: 0;

}

html {

    font-size: 62.5%;

}

header{

    margin-top: 2rem;

}

.body {

    margin: auto;
    width: 95%;

}
/* predetermitation body */

body {

    background-color: white;
    font-family: 'Roboto', sans-serif;

}
svg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

a {

    color: black;
    text-decoration: none;

}

hr {

    margin-bottom: 1rem;
    margin-top: 1rem;
    color: black;
    border-color: black;
    font-size: 3px;

}

/* nav main boopstrap */

.container-fluid {

    font-size: 30px;

}

.navbar-brand {

    width: 250px;
    height: 160px;

}

.navbar-nav {

    margin:auto;

}

.nav-item {

    padding: 0 15px 0 15px;

}

.nav-item a {

    color: rgb(168, 166, 166);

}


/* secction main */

.central-img {

    width: 100%;
    height: 500px;
    background: url('./images/ComercioExterior.webp') no-repeat center center/cover;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 20px;
    border-radius: 7px;
}

.btn {
    cursor: pointer;
    display:inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #ffffff6e;
    color: black;
    font-size: 15px;
    border: 1px solid blue;
    margin: 10 px 0;

}

.btn:hover {

    opacity: .7;

}

.btn h1 {

    margin-bottom: 1000px;
    margin-top: 1000px;
}

/* cards information one */

.our-alies {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    color: black;
    text-align: justify;
    font-size: 20px;
    
}

.our-alies img { 

    width: 100%;
    height: 180px;
    border-radius: 7px;

}

.our-alies h2 {

    font-size: 30px;
    margin: 10px 0;
    text-align: center;
}

/* section secundary */

.section-sec-one {

    width: 100%;
    height: 350px;
    background: url('./images/entregaPaqueteria.jpeg');
    padding-bottom: 40px;
    font-size: 20px;
    
}

.section-sec-one .content {

    width: 40%;
    padding: 100px 0 100px 30px;

}

/* footer */

.footer-end {

    background-color: rgba(133, 189, 171, 0.598);
    font-size: 20px;
    padding: 20px 0;
    text-decoration: none;
    border-radius: 7px;
    margin-top: 50px;

}

.content-footer {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    align-items: flex-start;
    justify-content: center;

}

.footer-end ul {

    margin: auto;
}
.footer-end ul li {

    padding: 1px;
    list-style-type: none;

}

.footer-end {

    text-decoration: none;

}
.copy-style {

    text-align: right;
    font-size: 1rem;

}

.content-footer ul li i {


    font-size: 3rem;
    justify-content: center;
    display: grid;
    grid-template-columns: auto;

}

/* section one, two, tree, four us services guia */

.n_sect {

    display:flex;
    align-items: center;
    text-align: justify;
    font-size: 20px;
}

.n_sect_div {

    margin-left: 20px;
    margin-right: 20PX;

}

.n_sect_img {

    width: 300px;
    height: 280px;

}

/* contact */

.s_one {

    width: 100%;
    height: 250px;
    background: url('./images/asesoria.webp') no-repeat center center/cover;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    justify-content: flex-end;
    color: #ffffff;
    border-radius: 7px;

}

.s_two {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;

}

.s_two h1 {

    margin-bottom: 20px;

}

.iframe_maps {

    margin: 15px 0 15px 0;

}

/* form */

.form_contac {

    width: 350px;
    height: 300px;
    padding: 30px;
    margin:auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(35, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 7px 13px 37px #000;
}

.form_contac h3 {

    font-size: 22px;
    margin-bottom: 20px;
    color: #ffffff;

}

.controls {

    width: 90%;
    background-color: rgba(24, 24, 23, 0.612);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid rgba(18, 75, 233, 0.974);
    font-size: 15px;
    color: #ffffff;

}

.form_contac .botons {

    width: 80%;
    border: none;
    padding: 5px;
    background-color: rgba(49, 156, 213, 0.572);
    border-radius: 5px;
    margin: 16px 0 16px 0;
    font-size: 15px;
    margin-bottom: 100px;
}

/* @media quieres ind */

@media screen and (max-width:480px) {

/* nav main ind */

    .navbar-brand {

        width: 150px;
        height: 100px;
    
    }

    .container-fluid {

        font-size: 20px;
    
    }

/* secction main ind */

    .central-img {

        width: 100%;
        height: 250px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-top: 10;
        display: flex;
        font-size: 13px;

    }

    .btn {

        padding: 3px 5px;

    }   

/* cards information one ind */

    .our-alies {

        display: block;
        font-size: 13px;
    
    }

    .our-alies img { 

        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        border-radius: 7px;

    }

    .our-alies h2 {

        font-size: 20px;
        text-align: center;
    }

/* section secundary ind */

    .section-sec-one {

        width: 100%;
        height: 250px;
        padding-bottom: 0px;
        font-size: 13px;

    }

    .section-sec-one .content {

        width: 95%;
        padding: 90px 10px 10px 10px;

    }

/* footer */

    .footer-end {

        font-size: 13px;
        padding: 15px 15px 15px 50px;
        

    }

    .content-footer ul li i {

        font-size: 13px;
        padding: 5px;

    }

    .content-footer ul {

        padding:1px ;
        line-height: 5px;

    }

/* section one, two, tree, four us services guia */

    .n_sect {
        display: flex;
        flex-direction: column;
        font-size: 13PX;
    }

    .n_sect_div {

        order: 2;
    }

    .n_sect_img {
        
        width: 100%;
        height: 250px;
        border-radius: 7px;
        order: 1;
    }

    .n_sect_div h1 {

        text-align: center;
        margin: 10px 0 10px 0;

    }

    .n_sect_div p {

        margin: 10px;

    }

/* contact */

    .sec_one {

        width: 100%;
        height: 250px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-top: 10;
        font-size: 13px;
        

    }

    .s_one {

        text-align: center;
        font-size: 15px;

    }

    .s_two p {

        text-align: center;
        font-size: 13px;
        width: 100%;

    }


    .iframe {

        width: 400px;
        height: 250px;
        border-radius: 7px;

    }

}